html,
body {
    min-height: 100%;
}

.about {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about h1 {
    color: #e1e1e1;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1em;
}

.about p {
    color: #e1e1e1;
}