.bottom-glows {
    height: 100px;
    max-width: 50%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    z-index: -9999;
}
.bottom-glows.bottom-glow1 {
    left: 0;
}
.bottom-glows.bottom-glow2 {
    right: 0;
    transform: scaleX(-1);
}
@media (min-width: 450px) {
    .bottom-glows {
        height: 150px;
        background-image: url("/assets/img/Blob/150x150.png");
   }
}
@media (min-width: 900px) {
    .bottom-glows {
        height: 300px;
        background-image: url("/assets/img/Blob/300x300.png");
   }
}
@media (min-width: 1350px) {
    .bottom-glows {
        height: 450px;
        background-image: url("/assets/img/Blob/450x450.png");
   }
}
@media (min-width: 1800px) {
    .bottom-glows {
        height: 600px;
        background-image: url("/assets/img/Blob/600x600.png");
   }
}
@media (min-width: 2250px) {
    .bottom-glows {
        height: 750px;
        background-image: url("/assets/img/Blob/750x750.png");
   }
}
@media (min-width: 2700px) {
    .bottom-glows {
        height: 900px;
        background-image: url("/assets/img/Blob/900x900.png");
   }
}
@media (min-width: 3150px) {
    .bottom-glows {
        height: 1050px;
        background-image: url("/assets/img/Blob/1050x1050.png");
   }
}
@media (min-width: 3600px) {
    .bottom-glows {
        height: 1200px;
        background-image: url("/assets/img/Blob/1200x1200.png");
   }
}
@media (min-width: 4050px) {
    .bottom-glows {
        height: 1350px;
        background-image: url("/assets/img/Blob/1350x1350.png");
   }
}
@media (min-width: 4500px) {
    .bottom-glows {
        height: 1500px;
        background-image: url("/assets/img/Blob/1500x1500.png");
   }
}
@media (min-width: 4950px) {
    .bottom-glows {
        height: 1650px;
        background-image: url("/assets/img/Blob/1650x1650.png");
   }
}
@media (min-width: 5400px) {
    .bottom-glows {
        height: 1800px;
        background-image: url("/assets/img/Blob/1800x1800.png");
   }
}
@media (min-width: 5850px) {
    .bottom-glows {
        height: 1950px;
        background-image: url("/assets/img/Blob/1950x1950.png");
   }
}
@media (min-width: 6300px) {
    .bottom-glows {
        height: 2100px;
        background-image: url("/assets/img/Blob/2100x2100.png");
   }
}
@media (min-width: 6750px) {
    .bottom-glows {
        height: 2250px;
        background-image: url("/assets/img/Blob/2250x2250.png");
   }
}
@media (min-width: 7200px) {
    .bottom-glows {
        height: 2400px;
        background-image: url("/assets/img/Blob/2400x2400.png");
   }
}
@media (min-width: 7650px) {
    .bottom-glows {
        height: 2550px;
        background-image: url("/assets/img/Blob/2550x2550.png");
   }
}
@media (min-width: 8100px) {
    .bottom-glows {
        height: 2700px;
        background-image: url("/assets/img/Blob/2700x2700.png");
   }
}
@media (min-width: 8550px) {
    .bottom-glows {
        height: 2850px;
        background-image: url("/assets/img/Blob/2850x2850.png");
   }
}
@media (min-width: 9000px) {
    .bottom-glows {
        height: 3000px;
        background-image: url("/assets/img/Blob/3000x3000.png");
   }
}
