.bottom-glows {
    height: 100px;
    max-width: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    z-index: -9999;
    &.bottom-glow1 {
        left: 0;
    }
    &.bottom-glow2 {
        right: 0;
        transform: scaleX(-1);
    }
}

@for $i from 1 through 20 {
    @media (min-width: #{$i * 450px}) {
        .bottom-glows {
            // width: $i * 150px;
            height: $i * 150px;
            background-image: url("/assets/img/Blob/#{$i * 150}x#{$i * 150}.png");
        }
    }
}