html, body {
    min-height: 100%;
}

::selection {
    background: #f64040;
    color: #191919;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --navbar-text-color: #383838;
    --navbar-hover-color: #9c9c9c;
}

body {
    background: #191919 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Garamond", ui-sans-serif, system-ui, -apple-system, Segoe UI, Inter, Roboto, Arial;
}

/* Helpers */
.workInProgress {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 10px;
    background-color: #f64040;
    padding: 10px;
}

.workInProgress h2 {
    color: #191919;
    margin: 0px;
    font-size: 15px;
    text-align: center;
}

/* #region Main body CSS */
.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: calc(100vh - (var(--divider-physical-height)));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.main:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.main:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.main h1 {
    color: #e1e1e1;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1em;
}

.main h3 {
    color: #757575;
    font-weight: normal;
    font-size: 26px;
    margin-top: -22px;
}

.main p {
    color: #e1e1e1;
    font-size: 25px;
}

.main a {
    color: #e1e1e1;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

/* #endregion */

/* #region Top Navbar CSS */
.top_navbar {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.top_navbar ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 900px) {
    .top_navbar ul {
        flex-direction: column;
    }
}


.top_navbar li {
    display: inline;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.top_navbar li a {
    /* color: #5d6996; */
    color: var(--navbar-text-color);
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
  cursor: pointer;
}

.top_navbar li a:hover {
    /* color: #95acff; */
    color: var(--navbar-hover-color);
    text-align: center;
}

.top_navbar li a.nav_active_link {
    color: #e1e1e1;
    text-decoration: underline;
    font-weight: bold;
}

/* --- Only the dropdown LI needs to be inline-block so we can position the submenu --- */
.top_navbar li.dropdown { position: relative; display: inline-block; }

/* Optional caret; remove if you don't want it */
.top_navbar li.dropdown > a.has-caret {
  position: relative;
  padding-right: 1.25em;
}
.top_navbar li.dropdown > a.has-caret::after {
  content: "";
  position: absolute;
  right: 0.2em; top: 50%;
  width: .45em; height: .45em;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: translateY(-50%) rotate(45deg);
  transition: transform .2s ease;
}
.top_navbar li.dropdown:hover > a.has-caret::after,
.top_navbar li.dropdown:focus-within > a.has-caret::after {
  transform: translateY(-50%) rotate(-135deg);
}

/* --- Submenu reset: make nested UL vertical and text-only --- */
.top_navbar .submenu {
  /* override the parent flex rules that hit all ULs */
  display: block !important;
  list-style: none;
  margin: 0;

  width: max-content;

  cursor: pointer;

  position: absolute;
  left: 50%;
  top: 100%;                 /* sits right under the trigger */
  transform: translate(-50%, -6px);
  z-index: 1000;

  /* text-only look */
  background: transparent;
  border: 0;
  box-shadow: none;

  /* show/hide */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .18s ease, transform .18s ease, visibility 0s linear .18s;
  will-change: opacity, transform;
}

/* hover bridge to avoid the disappearing gap when moving down */
.top_navbar .submenu::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: -10px; height: 10px;  /* small invisible cushion */
}

/* Reveal on hover / keyboard focus */
.top_navbar li.dropdown:hover .submenu,
.top_navbar li.dropdown:focus-within .submenu {
  opacity: 1;
  transform: translate(-50%, 0);
  visibility: visible;
  pointer-events: auto;
  transition: opacity .18s ease, transform .18s ease;
}

/* Submenu items stack vertically */
.top_navbar .submenu li { display: block; text-align: center; }

/* Inherit your navbar link styling exactly */
.top_navbar .submenu a {
  display: block;
  padding: .05rem 0;
  color: var(--navbar-text-color);
  font-size: inherit;        /* 25px from your .top_navbar li a */
  text-decoration: none;
  transition: .5s;
  opacity: 0;
  transform: translateY(-6px);
}

/* Keep your existing hover color (#9c9c9c) via the original rule */
.top_navbar .submenu a:hover {
    color: var(--navbar-hover-color);
 }

/* Staggered top->bottom fade */
.top_navbar li.dropdown:hover .submenu li:nth-child(1) a,
.top_navbar li.dropdown:focus-within .submenu li:nth-child(1) a { opacity: 1; transform: translateY(0); transition-delay: 140ms; }
.top_navbar li.dropdown:hover .submenu li:nth-child(2) a,
.top_navbar li.dropdown:focus-within .submenu li:nth-child(2) a { opacity: 1; transform: translateY(0); transition-delay: 180ms; }
.top_navbar li.dropdown:hover .submenu li:nth-child(3) a,
.top_navbar li.dropdown:focus-within .submenu li:nth-child(3) a { opacity: 1; transform: translateY(0); transition-delay: 220ms; }
.top_navbar li.dropdown:hover .submenu li:nth-child(4) a,
.top_navbar li.dropdown:focus-within .submenu li:nth-child(4) a { opacity: 1; transform: translateY(0); transition-delay: 260ms; }

/* --- Mobile: keep submenu vertical and aligned under the trigger --- */
@media (max-width: 900px) {
  .top_navbar .submenu {
    left: 0; right: 0; transform: translate(0, -6px);
  }
  .top_navbar li.dropdown:hover .submenu,
  .top_navbar li.dropdown:focus-within .submenu {
    transform: translate(0, 0);
  }
}


/* #endregion */


/* #endregion */

.worked_with {
    color: #e1e1e1;
    text-align: center;
    min-height: calc(100vh - (var(--divider-physical-height) / 2));
}

.worked_with .row>div:hover .explain_box {
    opacity: 1;
    transition: 1s opacity ease-in-out;
}

.worked_with .explain_box {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 2rem;
    transition: 1s opacity ease-in-out;
    user-select: none;
    opacity: 0;
    position: relative;
    border-radius: 15px;
    background-color: #191919;
    padding: 10px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .75);
}

.worked_with h3 {
    color: #a1a1a1;
    font-weight: normal;
    font-size: 30px;
}

.explain_box h1 {
    font-weight: bold;
    font-size: 25px;
}
.explain_box p {
    font-size: 15px;
}

/* #region Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #f64040 #191919;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #f64040;
    border-radius: 0px;
    border: 0px none #191919;
}

/* #endregion */

.recent_work {
    /* min-height: calc(100vh - (var(--divider-physical-height) / 2)); */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

.recent_work {
    min-height: calc(100vh - (var(--divider-physical-height) / 2));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.recent_work_content {
    min-height: 50vh;
    margin-bottom: 4rem;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.recent_work_content h1 {
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    color: #e1e1e1;
    text-align: center;
}

.footer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin-top: 7em;
    margin-bottom: 2em;
    order: 0;
    justify-content: center;
    flex-direction: row;
}

.footer ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    font-size: 1rem;
    list-style-type: none;
    text-align: center;
}

.footer a {
    color: #e1e1e1;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.footer a:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 900px) {
    .footer ul {
        margin-top: 2rem;
        gap: 5px;
        flex-direction: column;
    }
}