html,
body {
    min-height: 100%;
}

::selection {
    background: #4e00c2;
}

body {
    background: #212534 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: Garamond, serif;
}

/* #region Main body CSS */
.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: calc(100vh - (var(--divider-physical-height)));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.main:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.main:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.main h1 {
    color: #e1e1e1;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1em;
}

.main h3 {
    color: #e1e1e1;
    font-weight: bold;
    font-size: 35px;
    margin-top: -25px;
}

.main p {
    color: #e1e1e1;
    font-size: 25px;
}

.main a {
    color: #e1e1e1;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

/* #endregion */

/* #region Top Navbar CSS */
.top_navbar {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.top_navbar ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 900px) {
    .top_navbar ul {
        flex-direction: column;
    }

    /* .top_navbar ul li:nth-of-type(1) {
        order: 2 !important;
    }
    .top_navbar ul li:nth-of-type(2) {
        order: 1 !important;
    }
    .top_navbar ul li:nth-of-type(3) {
        order: 3 !important;
    } */
}

/* .top_navbar ul li:nth-of-type(1) {
    order: 1;
}
.top_navbar ul li:nth-of-type(2) {
    order: 2;
}
.top_navbar ul li:nth-of-type(3) {
    order: 3;
} */

.top_navbar li {
    display: inline;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.top_navbar li a {
    color: #5d6996;
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.top_navbar li a:hover {
    color: #95acff;
    text-align: center;
}

.top_navbar li a.nav_active_link {
    color: #e1e1e1;
    text-decoration: underline;
}

/* #endregion */


/* #endregion */

.worked_with {
    color: #e1e1e1;
    text-align: center;
    min-height: calc(100vh - (var(--divider-physical-height) / 2));
}

.worked_with .row>div:hover .explain_box {
    opacity: 1;
    transition: 1s opacity ease-in-out;
}

.worked_with .explain_box {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 2rem;
    transition: 1s opacity ease-in-out;
    user-select: none;
    opacity: 0;
    position: relative;
    border-radius: 15px;
    background-color: #191c29;
    padding: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .75);
}

.explain_box h1 {
    font-weight: bold;
}

/* #region Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4e00c2 #212534;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #212534;
}

*::-webkit-scrollbar-thumb {
    background-color: #4e00c2;
    border-radius: 0px;
    border: 0px none #212534;
}

/* #endregion */


.recent_work {
    /* min-height: calc(100vh - (var(--divider-physical-height) / 2)); */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

.recent_work {
    min-height: calc(100vh - (var(--divider-physical-height) / 2));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.recent_work_content {
    min-height: 50vh;
    margin-bottom: 4rem;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.recent_work_content h1 {
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.footer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    justify-content: center;
    flex-direction: row;
}

.footer ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
}

.footer a {
    color: #e1e1e1;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.footer a:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 900px) {
    .footer ul {
        margin-top: 2rem;
        gap: 5px;
        flex-direction: column;
    }
}