html,
body {
    min-height: 100%;
}

::selection {
    background: #4e00c2;
}

body {
    background: #212534 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: Garamond, serif;
}

/* Style page content */
.main {
    margin-left: auto;
    margin-right: auto;
}

.main h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 125px;
    text-align: center;
    color: #e1e1e1;
}

.main p {
    color: #e1e1e1;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

/* The sidebar menu */
.sidenav {
    z-index: 2;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 150px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #191919;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    text-align: center;
    padding-top: 20px;
    display: grid;
    align-content: space-between;
}

.sidenavlinks {
    display: block;
}

.contact {
    display: table-row;
}

.contactnumber {
    color: #4e00c2;
}

.cntbutton {
    background-color: #4e00c2;
    /* Green */
    border-radius: 5px;
    padding: 7px 25px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cntbutton:active {
    transform: translateY(2px);
}

.cntbutton:focus {
    outline: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #666666;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavlinks a:hover {
    color: #a8a8a8;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4e00c2 #e1e1e100;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #4e00c2;
    border-radius: 0px;
    border: 0px none #191919;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}