@font-face {
    font-family: 'nevis Bold';
    font-style: normal;
    font-weight: normal;
    src: local('nevis Bold'), url('/assets/fonts/nevis.woff') format('woff');
}

.modalx {
    display: none;
    position: fixed;
    z-index: 9999999;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #212534;
}

.modalx.hide {
    display: block;
    animation: hideSlidedownModalx 1.5s forwards;
    pointer-events: none;
}

@keyframes hideSlidedownModalx {
    0% {
        opacity: 1;
        bottom: 0;
    }

    90% {
        opacity: 1;
        bottom: -100%;
    }

    100% {
        opacity: 0;
        bottom: -100%;
    }
}

.modalx.show {
    display: block;
    animation: showSlidedownModalx 1.5s forwards;
    opacity: 1;
}

@keyframes showSlidedownModalx {
    from {
        opacity: 0.9;
        bottom: -100%;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.modalx-close {
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}

.modalx-close:hover {
    opacity: 1;
}

.modalx-title {
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
}

.modalx-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.modalx .grid .grid-item {
    float: left;
}

.modalx .grid .grid-sizer,
.modalx .grid .grid-item {
    padding: 2.5px;
    width: 20%;
}

@media (max-width: 768px) {

    .modalx .grid .grid-sizer,
    .modalx .grid .grid-item {
        width: 50%;
    }
}

@media (max-width: 480px) {

    .modalx .grid .grid-sizer,
    .modalx .grid .grid-item {
        width: 100%;
    }
}

.modalx .modalx-content a {
    position: relative;
    display: block;
    transition: all 0.5s ease-in-out;
}

.modalx .modalx-content a:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.15);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .75);
    z-index: 9999;
}

.modalx img {
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.modalx .modalx-overlay {
    position: absolute;
    z-index: 99999999;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .75));
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modalx .modalx-overlay:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modalx .modalx-overlay-text {
    font-family: 'nevis Bold';
    /* position: absolute;
    top: 0;
    left: 10%;
    transform: translate(25%, 50%); */
    font-size: 1.5rem;
    color: white;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.modalx .modalx-overlay-text2 {
    font-family: 'nevis Bold';
    line-height: 1;
    /* position: absolute;
    top: 0;
    left: 10%;
    transform: translate(-50%, 100%); */
    color: White;
    font-size: .75rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}