@property --spinglow-rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --spinwglow-height: 250px;
    --spinwglow-width: 250px;
}

/* Profile Picture Spin content */
.spinglow {
    background: #191c29;
    width: var(--spinwglow-width);
    height: var(--spinwglow-height);
    position: relative;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: flex;
    color: rgba(88, 199, 250, 0);
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.spinglow:hover {
    /* Show Review Box with review in it */
    color: #e1e1e1;
}

/* Spinning Glow Size */
.spinglow::before {
    content: "";
    height: calc(var(--spinwglow-height) * 1.04);
    width: calc(var(--spinwglow-width) * 1.04);
    border-radius: 100%;
    background-image: linear-gradient(var(--spinglow-rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
}

.spinglow::after {
    position: absolute;
    content: "";
    z-index: -1;
    height: calc(var(--spinwglow-height) * 1.2);
    width: calc(var(--spinwglow-width) * 1.2);
    border-radius: 100%;
    transform: scale(0.8);
    filter: blur(calc(var(--spinwglow-height) / 6));
    background-image: linear-gradient(var(--spinglow-rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --spinglow-rotate: 0deg;
    }

    100% {
        --spinglow-rotate: 360deg;
    }
}

/* Profile Picture Spin content */