html,
body {
    min-height: 100%;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 250px;
    --card-width: 250px;
}

/* Profile Picture Spin content */
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: flex;
    font-size: 1.5em;
    color: rgba(88, 199, 250, 0);
    font-weight: bold;
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.card:hover {
    /* Show Review Box with review in it */
    color: #e1e1e1;
}

/* Spinning Glow Size */
.card::before {
    content: "";
    width: 260px;
    height: 260px;
    border-radius: 250px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 250px;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

/* Profile Picture Spin content */