name: Generate sitemap

on:
  push:
    branches: [ main ]
    paths:
      - '**/*.html'
      - '**/*.pdf'

permissions:
  contents: write
  pull-requests: write

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    name: Generate a sitemap
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for correct <lastmod> dates

      - name: Generate the sitemap
        id: sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://ghillie.xyz/
          exclude-paths: >  # belongs on this step
            /404.html
          # drop-html-extension: true   # optional if you want URLs without .html

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Automated sitemap update"
          body: >
            Automated changes. Sitemap updated by the
            generate-sitemap GitHub action.
          commit-message: "chore(sitemap): update sitemap"
          add-paths: ${{ steps.sitemap.outputs.sitemap-path }}
          branch: create-pull-request/sitemap
          delete-branch: true
